* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
}

header h2 {
    padding: 2rem;
}

#logo {
    text-decoration: none;
    color: black;
}

.search-form {
    padding: 2rem;
    display: flex;
}
.search-form input {
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border: 2px solid rgb(68, 131, 128);
}
.search-form button {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    background: rgb(68, 131, 128);
    color: white;
    cursor: pointer;
}